.column{
    float:left;
    width:33.33%;
    padding: 5 px;
}
.row{
    display: flex;
}
h1{
    color:blue;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }